<!DOCTYPE html>
<html>
  <!-- Head -->
  <head>
    <title><!-- EXERCISE NUMBER HERE --></title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <!-- Main style -->
    <link rel="stylesheet" href="assets/css/main.css" />

    <!-- Hints style -->
    <link rel="stylesheet" href="assets/css/hints.css" />
  </head>

  <!-- Body -->
  <body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <div id="main">
        <div class="inner">
          <!-- Header (for the entire page) -->
          <header id="header">
            <a href="index.html" class="logo"
              ><strong>Self-Learning Module: </strong> Multivariable Calculus</a
            >
          </header>

          <!-- Container for the exercise -->
          <section id="banner">
            <div class="content">
              <header>
                <h1><!-- EXERCISE NUMBER HERE --></h1>
              </header>
              <h4>
                <!-- WRITE EXERCISE HERE -->
              </h4>
            </div>
            <!-- ADD PICTURE HERE -->
            <span class="image object">
              <img src="images/ex.png" alt="" />
            </span>
          </section>

          <!-- Button to show/hide all hints -->
          <section>
            <button
              id="but_0_1"
              class="shbt_top"
              onclick="HideShow('but_0_1', 'unsee_hint')"
            >
              Show Hints
            </button>
          </section>

          <!-- ADD HINTS HERE -->
        </div>
      </div>

      <!-- Sidebar -->
      <div id="sidebar"><div class="inner" id="sidebar_inner"></div></div>
    </div>

    <!-- Main scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

    <!-- Relevant scripts -->
    <script src="assets/js/sidebar.js"></script>
    <script src="assets/js/math.js"></script>
    <script src="assets/js/hints.js"></script>

    <!-- Math equations -->
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>
</html>
